{% extends '::base.html.twig' %}
{% block body %}

    <div class="col-md-12 col-lg-12 col-xs-12">
        <div class="col-md-12 col-lg-12 col-xs-12">
            <h4>Information de reservation</h4>
            <div class="text">
                {{ nom }}
                
               Nous vous remercions pour l'intérêt que vous portez à notre Riad de Charme. Nous nous ferons un réel plaisir de vous accueillir
               au Riad Mazal et soyez sûr que nous ferons le maximum pour vous assurer un agréable séjour à Marrakech.
               votre resérvation est en cours de  traitement .<br>
               Nous allons vous contacter le plus court possible <br>
               Cordialement Riad Mazal 
              

</div>
 </div>
    </div>
    
 {% endblock %}


