
{% extends '::base.html.twig' %}
{% block body %}
<div class="col-md-12 col-lg-12 col-xs-12">
		<div class="clearfix">
		<div class="col-md-12 col-lg-12 col-xs-12">
	<h3 class="block-title">{{ "Les_avis_des_clients"|trans() }}</h3>
                </div>
          <div class="col-md-12 col-lg-12 col-xs-12">          
	<div id="TA_selfserveprop126" class="TA_selfserveprop">
<ul id="8pIGypY" class="TA_links danKzG">
<li id="c4BbaiOHhI" class="vEZ9n9QhTLM">100 avis pour <a target="_blank" href="http://www.tripadvisor.fr/Hotel_Review-g293734-d942013-Reviews-Riad_Mazal-Marrakech_Marrakech_Tensift_El_Haouz_Region.html">Riad Mazal</a> à Marrakech</li>
</ul>
</div>
          </div>
		<div class="col-md-12 col-lg-12 col-xs-12">		
	<h3 class="block-title">{{ "Votre_avis_sur_Riad_Mazal"|trans() }} </h3>
                </div>
                    <div class="col-md-12 col-lg-12 col-xs-12">
	<div id="TA_cdswritereviewlg357" class="TA_cdswritereviewlg">
<ul id="kdGJSa" class="TA_links M0Qs9sNm3">
<li id="eUo7nnLf" class="BaeU2ZM">Donnez votre avis sur <a href="http://www.tripadvisor.fr/Hotel_Review-g293734-d942013-Reviews-Riad_Mazal-Marrakech_Marrakech_Tensift_El_Haouz_Region.html">Riad Mazal</a></li>
</ul>
        </div>
                    </div>
    {% endblock %}

{% block stylesheets %}

{% endblock %}

   
{% block javascripts %} 
<script src="http://www.jscache.com/wejs?wtype=cdswritereviewlg&amp;uniq=357&amp;locationId=942013&amp;lang=fr&amp;border=true"> </script>
<script src="http://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=126&amp;locationId=942013&amp;lang=fr&amp;rating=false&amp;nreviews=5&amp;writereviewlink=false&amp;popIdx=false&amp;iswide=true&amp;border=true"></script>    

{% endblock %}
     
